@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body, html {
  font-family: 'Roboto Slab', serif;
  background: #3f4c6b;
  color: #fff;
}


.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
  margin-top: 30px;
}

.fi {
  width: 10em;
  line-height: 10em;
}

.correct {
  color: rgb(0, 255, 0)
}

.incorrect {
  color: rgb(255, 0, 0)
}

.home__button {
  display: flex;
    justify-content: center;
    padding-top: 20px;
}

@media only screen and (max-width: 550px) {
  img {
    width: 350px !important;
    height: 280px !important;
  }
}

@media only screen and (max-width: 360px) {
  img {
    width: 250px !important;
    height: 180px !important;
  }
}